---
// Direct DOM Replica — contact page
// 100% Visual Parity with live WordPress site
---

<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">			<title>
			Contact – Style Mantra		</title>
		<meta name="robots" content="max-image-preview:large">


<style id="wp-img-auto-sizes-contain-inline-css" type="text/css">
img:is([sizes=auto i],[sizes^="auto," i]){contain-intrinsic-size:3000px 1500px}
/*# sourceURL=wp-img-auto-sizes-contain-inline-css */
</style>
<link rel="stylesheet" id="gum-elementor-addon-css" href="/css/style.css" type="text/css" media="all">
<link rel="stylesheet" id="jkit-elements-main-css" href="/css/main.css" type="text/css" media="all">
<style id="wp-emoji-styles-inline-css" type="text/css">

	img.wp-smiley, img.emoji {
		display: inline !important;
		border: none !important;
		box-shadow: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 0.07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
	}
/*# sourceURL=wp-emoji-styles-inline-css */
</style>
<link rel="stylesheet" href="/css/dialog.min.css"><link rel="stylesheet" id="elementor-frontend-css" href="/css/frontend.min.css" type="text/css" media="all">
<link rel="stylesheet" id="elementor-post-62-css" href="/css/post-62.css?ver=1773281634" type="text/css" media="all">
<link rel="stylesheet" id="e-animation-fadeIn-css" href="/css/fadeIn.min.css" type="text/css" media="all">
<link rel="stylesheet" id="widget-heading-css" href="/css/widget-heading.min.css" type="text/css" media="all">
<link rel="stylesheet" id="widget-divider-css" href="/css/widget-divider.min.css" type="text/css" media="all">
<link rel="stylesheet" id="widget-icon-list-css" href="/css/widget-icon-list.min.css" type="text/css" media="all">
<link rel="stylesheet" id="widget-social-icons-css" href="/css/widget-social-icons.min.css" type="text/css" media="all">
<link rel="stylesheet" id="e-apple-webkit-css" href="/css/apple-webkit.min.css" type="text/css" media="all">
<link rel="stylesheet" id="widget-form-css" href="/css/widget-form.min.css" type="text/css" media="all">
<link rel="stylesheet" id="elementor-post-342-css" href="/css/post-342.css?ver=1773281645" type="text/css" media="all">
<link rel="stylesheet" id="cute-alert-css" href="/css/style.css" type="text/css" media="all">
<link rel="stylesheet" id="text-editor-style-css" href="/css/text-editor.css" type="text/css" media="all">
<link rel="stylesheet" id="jet-menu-public-styles-css" href="/css/public.css" type="text/css" media="all">
<link rel="stylesheet" id="widget-image-css" href="/css/widget-image.min.css" type="text/css" media="all">
<link rel="stylesheet" id="e-popup-css" href="/css/popup.min.css" type="text/css" media="all">
<link rel="stylesheet" id="e-sticky-css" href="/css/sticky.min.css" type="text/css" media="all">
<link rel="stylesheet" id="e-animation-float-css" href="/css/e-animation-float.min.css" type="text/css" media="all">
<link rel="stylesheet" id="elementor-post-403-css" href="/css/post-403.css?ver=1773281635" type="text/css" media="all">
<link rel="stylesheet" id="elementor-post-148-css" href="/css/post-148.css?ver=1773281635" type="text/css" media="all">
<link rel="stylesheet" id="elementor-post-158-css" href="/css/post-158.css?ver=1773281636" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-5-all-css" href="/css/all.min.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-4-shim-css" href="/css/v4-shims.min.css" type="text/css" media="all">
<link rel="stylesheet" id="owl.carousel-css" href="/css/owl.carousel.css" type="text/css" media="all">
<link rel="stylesheet" id="ekit-widget-styles-css" href="/css/widget-styles.css" type="text/css" media="all">
<link rel="stylesheet" id="ekit-responsive-css" href="/css/responsive.css" type="text/css" media="all">
<link rel="stylesheet" id="elementor-gf-local-jost-css" href="/css/jost.css?ver=1743424813" type="text/css" media="all">
<link rel="stylesheet" id="elementor-icons-ekiticons-css" href="/css/ekiticons.css" type="text/css" media="all">
<script type="text/javascript" src="/js/jquery.min.js" id="jquery-core-js" is:inline></script>
<script type="text/javascript" src="/js/jquery-migrate.min.js" id="jquery-migrate-js" is:inline></script>
<script type="text/javascript" src="/js/v4-shims.min.js" id="font-awesome-4-shim-js" is:inline></script>
<script type="text/javascript" src="/js/allscripts.js" id="gum-elementor-addon-js" is:inline></script>
<script type="text/javascript" src="/js/owl.carousel.min.js" id="owl.carousel-js" is:inline></script>
<script type="text/javascript" src="/js/price-table.js" id="gum-price-table-js" is:inline></script>


<link rel="canonical" href="/contact">


			<style>
				.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload),
				.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * {
					background-image: none !important;
				}
				@media screen and (max-height: 1024px) {
					.e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload),
					.e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * {
						background-image: none !important;
					}
				}
				@media screen and (max-height: 640px) {
					.e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload),
					.e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * {
						background-image: none !important;
					}
				}
			</style>
			<link rel="icon" href="/images/cropped-Untitled-design-23.png" sizes="32x32">
<link rel="icon" href="/images/cropped-Untitled-design-23.png" sizes="192x192">
<link rel="apple-touch-icon" href="/images/cropped-Untitled-design-23.png">
<meta name="msapplication-TileImage" content="/images/cropped-Untitled-design-23.png">
<script src="https://stylemantra.co.in/wp-includes/js/wp-emoji-release.min.js?ver=6.9.4" defer="" is:inline></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700&display=swap" rel="stylesheet">
  <style>
    .dialog-widget-content, .dialog-lightbox-widget, .dialog-type-lightbox,
    .elementor-popup-modal, [id^=elementor-popup-modal] {
      display: none !important;
    }
    body.dialog-lightbox-body::before, body::after { display: none !important; }
  </style>
</head>
<body class="wp-singular page-template page-template-elementor_header_footer page page-id-342 wp-theme-hello-elementor jkit-color-scheme jet-mega-menu-location elementor-default elementor-template-full-width elementor-kit-62 elementor-page elementor-page-342 e--ua-blink e--ua-chrome e--ua-mac e--ua-webkit dialog-body dialog-lightbox-body dialog-container dialog-lightbox-container" data-elementor-device-mode="desktop">

		<div data-elementor-type="header" data-elementor-id="148" class="elementor elementor-148 elementor-location-header" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-571f41c6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-sticky" data-id="571f41c6" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[],&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_effects_offset&quot;:150,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_anchor_link_offset&quot;:0}" style="">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-728b2145" data-id="728b2145" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-299fd58e elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="299fd58e" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6301f59e" data-id="6301f59e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-68a724f3 elementor-widget elementor-widget-image" data-id="68a724f3" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
																<a href="/contact#">
							<img fetchpriority="high" width="1024" height="463" src="/images/Untitled-design-22.png" class="attachment-large size-large wp-image-154" alt="" decoding="async" srcset="/images/Untitled-design-22.png 1024w, /images/Untitled-design-22.png 300w, /images/Untitled-design-22.png 768w, /images/Untitled-design-22.png 1080w" sizes="(max-width: 1024px) 100vw, 1024px">								</a>
															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6f72a885" data-id="6f72a885" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-ff18f61 elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-jet-mega-menu" data-id="ff18f61" data-element_type="widget" data-widget_type="jet-mega-menu.default">
				<div class="elementor-widget-container">
					<div class="jet-mega-menu jet-mega-menu--layout-horizontal jet-mega-menu--sub-position-right jet-mega-menu--dropdown-layout-default jet-mega-menu--dropdown-position-right jet-mega-menu--animation-none jet-mega-menu--location-elementor jet-mega-menu--fill-svg-icons jet-mega-menu--inited" data-settings="{&quot;menuId&quot;:&quot;7&quot;,&quot;menuUniqId&quot;:&quot;69d7db8cc6ce0&quot;,&quot;rollUp&quot;:false,&quot;megaAjaxLoad&quot;:false,&quot;layout&quot;:&quot;horizontal&quot;,&quot;subEvent&quot;:&quot;hover&quot;,&quot;mouseLeaveDelay&quot;:500,&quot;subTrigger&quot;:&quot;item&quot;,&quot;subPosition&quot;:&quot;right&quot;,&quot;megaWidthType&quot;:&quot;container&quot;,&quot;megaWidthSelector&quot;:&quot;&quot;,&quot;breakpoint&quot;:768,&quot;signatures&quot;:[]}"><div class="jet-mega-menu-toggle" role="button" tabindex="0" aria-label="Open/Close Menu"><div class="jet-mega-menu-toggle-icon jet-mega-menu-toggle-icon--default-state"><svg class="e-font-icon-svg e-fas-bars" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg></div><div class="jet-mega-menu-toggle-icon jet-mega-menu-toggle-icon--opened-state"><svg class="e-font-icon-svg e-fas-times" viewBox="0 0 352 512" xmlns="http://www.w3.org/2000/svg"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg></div></div><nav class="jet-mega-menu-container" aria-label="Main nav"><ul class="jet-mega-menu-list"><li id="jet-mega-menu-item-160" class="jet-mega-menu-item jet-mega-menu-item-type-post_type jet-mega-menu-item-object-page jet-mega-menu-item--default jet-mega-menu-item--top-level jet-mega-menu-item-160"><div class="jet-mega-menu-item__inner" tabindex="0" aria-label="Home"><a href="/" class="jet-mega-menu-item__link jet-mega-menu-item__link--top-level"><div class="jet-mega-menu-item__title"><div class="jet-mega-menu-item__label">Home</div></div></a></div></li>
<li id="jet-mega-menu-item-357" class="jet-mega-menu-item jet-mega-menu-item-type-post_type jet-mega-menu-item-object-page jet-mega-menu-item--default jet-mega-menu-item--top-level jet-mega-menu-item-357"><div class="jet-mega-menu-item__inner" tabindex="0" aria-label="About"><a href="/about" class="jet-mega-menu-item__link jet-mega-menu-item__link--top-level"><div class="jet-mega-menu-item__title"><div class="jet-mega-menu-item__label">About</div></div></a></div></li>
<li id="jet-mega-menu-item-358" class="jet-mega-menu-item jet-mega-menu-item-type-post_type jet-mega-menu-item-object-page jet-mega-menu-item--default jet-mega-menu-item--top-level jet-mega-menu-item-358"><div class="jet-mega-menu-item__inner" tabindex="0" aria-label="Our Course"><a href="/our-course" class="jet-mega-menu-item__link jet-mega-menu-item__link--top-level"><div class="jet-mega-menu-item__title"><div class="jet-mega-menu-item__label">Our Course</div></div></a></div></li>
<li id="jet-mega-menu-item-356" class="jet-mega-menu-item jet-mega-menu-item-type-post_type jet-mega-menu-item-object-page jet-mega-current-menu-item page_item page-item-342 current_page_item jet-mega-menu-item--default jet-mega-menu-item--top-level jet-mega-menu-item-356"><div class="jet-mega-menu-item__inner" tabindex="0" aria-label="Contact"><a href="/contact" class="jet-mega-menu-item__link jet-mega-menu-item__link--top-level"><div class="jet-mega-menu-item__title"><div class="jet-mega-menu-item__label">Contact</div></div></a></div></li>
</ul></nav></div>				</div>
				</div>
				<div class="elementor-element elementor-element-b5cfca9 elementor-hidden-desktop elementor-widget elementor-widget-jet-mobile-menu" data-id="b5cfca9" data-element_type="widget" data-widget_type="jet-mobile-menu.default">
				<div class="elementor-widget-container">
					<div id="jet-mobile-menu-69d7db8cca78f" data-menu-id="7" data-menu-options="{&quot;menuUniqId&quot;:&quot;69d7db8cca78f&quot;,&quot;menuId&quot;:&quot;7&quot;,&quot;mobileMenuId&quot;:&quot;&quot;,&quot;location&quot;:&quot;elementor&quot;,&quot;menuLocation&quot;:false,&quot;menuLayout&quot;:&quot;slide-out&quot;,&quot;togglePosition&quot;:&quot;default&quot;,&quot;menuPosition&quot;:&quot;right&quot;,&quot;headerTemplate&quot;:&quot;&quot;,&quot;beforeTemplate&quot;:&quot;&quot;,&quot;afterTemplate&quot;:&quot;&quot;,&quot;useBreadcrumb&quot;:true,&quot;breadcrumbPath&quot;:&quot;full&quot;,&quot;toggleText&quot;:&quot;&quot;,&quot;toggleLoader&quot;:true,&quot;backText&quot;:&quot;&quot;,&quot;itemIconVisible&quot;:true,&quot;itemBadgeVisible&quot;:true,&quot;itemDescVisible&quot;:false,&quot;loaderColor&quot;:&quot;#3a3a3a&quot;,&quot;subTrigger&quot;:&quot;item&quot;,&quot;subOpenLayout&quot;:&quot;slide-in&quot;,&quot;closeAfterNavigate&quot;:true,&quot;fillSvgIcon&quot;:true,&quot;megaAjaxLoad&quot;:false}" class="jet-mobile-menu jet-mobile-menu--location-elementor"><div class="jet-mobile-menu__instance jet-mobile-menu__instance--slide-out-layout right-container-position default-toggle-position fill-svg-icon"><div role="button" tabindex="0" aria-label="Open/Close Menu" aria-expanded="false" class="jet-mobile-menu__toggle"><!----> <div class="jet-mobile-menu__toggle-icon"><svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" class="e-font-icon-svg e-fas-bars"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg></div> <!----> <!----></div> <!----> <!----></div><div class="jet-mobile-menu__refs"><div><svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" class="e-font-icon-svg e-fas-bars"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg></div><div><svg viewBox="0 0 352 512" xmlns="http://www.w3.org/2000/svg" class="e-font-icon-svg e-fas-times"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg></div><div><svg viewBox="0 0 352 512" xmlns="http://www.w3.org/2000/svg" class="e-font-icon-svg e-fas-times"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg></div><div><svg viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg" class="e-font-icon-svg e-fas-angle-left"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg></div><div><svg viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg" class="e-font-icon-svg e-fas-angle-right"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></div><div><svg viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg" class="e-font-icon-svg e-fas-angle-down"><path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg></div><div><svg viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg" class="e-font-icon-svg e-fas-angle-right"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></div></div></div><script id="jetMenuMobileWidgetRenderData69d7db8cca78f" type="application/json">
            {"items":{"item-160":{"id":"item-160","name":"Home","attrTitle":false,"description":"","url":"\\/","target":false,"xfn":false,"itemParent":false,"itemId":160,"megaTemplateId":false,"megaContent":false,"megaContentType":"default","open":false,"badgeContent":false,"itemIcon":"","hideItemText":false,"classes":[""],"signature":""},"item-357":{"id":"item-357","name":"About","attrTitle":false,"description":"","url":"\\/about","target":false,"xfn":false,"itemParent":false,"itemId":357,"megaTemplateId":false,"megaContent":false,"megaContentType":"default","open":false,"badgeContent":false,"itemIcon":"","hideItemText":false,"classes":[""],"signature":""},"item-358":{"id":"item-358","name":"Our Course","attrTitle":false,"description":"","url":"\\/our-course","target":false,"xfn":false,"itemParent":false,"itemId":358,"megaTemplateId":false,"megaContent":false,"megaContentType":"default","open":false,"badgeContent":false,"itemIcon":"","hideItemText":false,"classes":[""],"signature":""},"item-356":{"id":"item-356","name":"Contact","attrTitle":false,"description":"","url":"\\/contact","target":false,"xfn":false,"itemParent":false,"itemId":356,"megaTemplateId":false,"megaContent":false,"megaContentType":"default","open":false,"badgeContent":false,"itemIcon":"","hideItemText":false,"classes":[""],"signature":""}}}        </script>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				</div>
				<div data-elementor-type="wp-page" data-elementor-id="342" class="elementor elementor-342" data-elementor-post-type="page">
						<section class="elementor-section elementor-top-section elementor-element elementor-element-38e0b1ab elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="38e0b1ab" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[]}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-58e13e8b" data-id="58e13e8b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-4ae93ce0 elementor-widget elementor-widget-heading animated fadeIn" data-id="4ae93ce0" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Contact Us</h2>				</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-25a4f3bd elementor-section-height-min-height elementor-section-boxed elementor-section-height-default animated fadeIn" data-id="25a4f3bd" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:400,&quot;jet_parallax_layout_list&quot;:[]}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-557e9ee1" data-id="557e9ee1" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-809819 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="809819" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-6bd9b22 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6bd9b22" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-aa31480" data-id="aa31480" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-2783d5c elementor-widget elementor-widget-text-editor animated fadeIn" data-id="2783d5c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>get started</p>								</div>
				</div>
				<div class="elementor-element elementor-element-bac2046 elementor-widget elementor-widget-heading animated fadeIn" data-id="bac2046" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:200}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Ready to Style Your Future?</h2>				</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-e61844f elementor-section-boxed elementor-section-height-default elementor-section-height-default animated fadeIn" data-id="e61844f" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:400,&quot;jet_parallax_layout_list&quot;:[]}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bab911c" data-id="bab911c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-03e4acb elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="03e4acb" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Phone</p>								</div>
				</div>
				<div class="elementor-element elementor-element-6961eba elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="6961eba" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="tel:%20+91%2078383%2076315">

											<span class="elementor-icon-list-text">+91 78383 76315</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-f9aad5a elementor-widget elementor-widget-text-editor" data-id="f9aad5a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Email</p>								</div>
				</div>
				<div class="elementor-element elementor-element-a067c52 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="a067c52" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="/contact#">

											<span class="elementor-icon-list-text">info@stylemantra.co.in</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-17305c9" data-id="17305c9" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f05fc68 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="f05fc68" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Phone</p>								</div>
				</div>
				<div class="elementor-element elementor-element-60cb530 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="60cb530" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="tel:%20+91%2099930%2050002">

											<span class="elementor-icon-list-text">+91 99930 50002</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-2a02fd7 elementor-widget elementor-widget-text-editor" data-id="2a02fd7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Follow Us</p>								</div>
				</div>
				<div class="elementor-element elementor-element-8b3f8b8 elementor-shape-circle e-grid-align-left elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="8b3f8b8" data-element_type="widget" data-widget_type="social-icons.default">
				<div class="elementor-widget-container">
							<div class="elementor-social-icons-wrapper elementor-grid" role="list">
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-51c6d66" target="_blank">
						<span class="elementor-screen-only">Facebook-f</span>
						<svg class="e-font-icon-svg e-fab-facebook-f" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-x-twitter elementor-repeater-item-8f0099f" target="_blank">
						<span class="elementor-screen-only">X-twitter</span>
						<svg class="e-font-icon-svg e-fab-x-twitter" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-1cf83d8" target="_blank">
						<span class="elementor-screen-only">Youtube</span>
						<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-icon-instagram-1 elementor-repeater-item-e3ce502" target="_blank">
						<span class="elementor-screen-only">Icon-instagram-1</span>
						<i class="icon icon-instagram-1"></i>					</a>
				</span>
					</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-772fe5a" data-id="772fe5a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-4221a17 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="4221a17" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
				<div class="elementor-widget-container">
							<form class="elementor-form" method="post" name="Contact Form">
			<input type="hidden" name="post_id" value="342">
			<input type="hidden" name="form_id" value="4221a17">
			<input type="hidden" name="referer_title" value="Contact">

							<input type="hidden" name="queried_id" value="342">
			
			<div class="elementor-form-fields-wrapper elementor-labels-above">
								<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required elementor-mark-required">
												<label for="form-field-name" class="elementor-field-label">
								Full Name							</label>
														<input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Full Name" required="required">
											</div>
								<div class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-field_bfd12ea elementor-col-100 elementor-field-required elementor-mark-required">
												<label for="form-field-field_bfd12ea" class="elementor-field-label">
								Phone Number							</label>
								<input size="1" type="tel" name="form_fields[field_bfd12ea]" id="form-field-field_bfd12ea" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Phone Number" required="required" pattern="[0-9()#&amp;+*-=.]+" title="Only numbers and phone characters (#, -, *, etc) are accepted.">

						</div>
								<div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required elementor-mark-required">
												<label for="form-field-email" class="elementor-field-label">
								Email Address							</label>
														<input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Email Address" required="required">
											</div>
								<div class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-message elementor-col-100">
												<label for="form-field-message" class="elementor-field-label">
								Additional queries and remarks							</label>
						<textarea class="elementor-field-textual elementor-field  elementor-size-sm" name="form_fields[message]" id="form-field-message" rows="4" placeholder="Query"></textarea>				</div>
								<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
					<button class="elementor-button elementor-size-sm" type="submit">
						<span class="elementor-button-content-wrapper">
																						<span class="elementor-button-text">Submit</span>
													</span>
					</button>
				</div>
			</div>
		</form>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-277b00d8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="277b00d8" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2e134f63" data-id="2e134f63" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-3e697d4c elementor-widget elementor-widget-text-editor animated fadeIn" data-id="3e697d4c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>/ FAQs</p>								</div>
				</div>
				<div class="elementor-element elementor-element-8dfc6c6 elementor-widget elementor-widget-heading animated fadeIn" data-id="8dfc6c6" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:200}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Frequently Asked Questions</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-2243694c elementor-widget elementor-widget-elementskit-accordion animated fadeIn" data-id="2243694c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:400}" data-widget_type="elementskit-accordion.default">
				<div class="elementor-widget-container">
					<div class="ekit-wid-con">
        <div class="elementskit-accordion accoedion-primary" id="accordion-69d7ceeb1004f">

            
                <div class="elementskit-card active">
                    <div class="elementskit-card-header" id="primaryHeading-0-2243694c">
                        <a href="/contact#collapse-a6e330569d7ceeb1004f" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-a6e330569d7ceeb1004f" aria-expanded="true" aria-controls="Collapse-a6e330569d7ceeb1004f">
                            
                            <span class="ekit-accordion-title">What is the duration of the course?</span>

                            
                                <div class="ekit_accordion_icon_group">
                                    <div class="ekit_accordion_normal_icon">
                                        <!-- Normal Icon -->
										<i class="icon icon-plus"></i>                                    </div>

                                    <div class="ekit_accordion_active_icon">
                                        <!-- Active Icon -->
										<i class="icon icon-minus"></i>                                    </div>
                                </div>

                            
                                                    </a>
                    </div>

                    <div id="Collapse-a6e330569d7ceeb1004f" class=" show collapse" aria-labelledby="primaryHeading-0-2243694c" data-parent="#accordion-69d7ceeb1004f">

                        <div class="elementskit-card-body ekit-accordion--content">
                            <p>Our courses run for 12 weeks, depending on the module and level.</p>                        </div>

                    </div>

                </div><!-- .elementskit-card END -->

                
                <div class="elementskit-card ">
                    <div class="elementskit-card-header" id="primaryHeading-1-2243694c">
                        <a href="/contact#collapse-ed795eb69d7ceeb1004f" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-ed795eb69d7ceeb1004f" aria-expanded="false" aria-controls="Collapse-ed795eb69d7ceeb1004f">
                            
                            <span class="ekit-accordion-title">Are the classes live or recorded?</span>

                            
                                <div class="ekit_accordion_icon_group">
                                    <div class="ekit_accordion_normal_icon">
                                        <!-- Normal Icon -->
										<i class="icon icon-plus"></i>                                    </div>

                                    <div class="ekit_accordion_active_icon">
                                        <!-- Active Icon -->
										<i class="icon icon-minus"></i>                                    </div>
                                </div>

                            
                                                    </a>
                    </div>

                    <div id="Collapse-ed795eb69d7ceeb1004f" class=" collapse" aria-labelledby="primaryHeading-1-2243694c" data-parent="#accordion-69d7ceeb1004f">

                        <div class="elementskit-card-body ekit-accordion--content">
                            <p>You’ll get the best of both—live interactive sessions and pre-recorded lessons to learn at your own pace.</p>                        </div>

                    </div>

                </div><!-- .elementskit-card END -->

                
                <div class="elementskit-card ">
                    <div class="elementskit-card-header" id="primaryHeading-2-2243694c">
                        <a href="/contact#collapse-e752d5a69d7ceeb1004f" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-e752d5a69d7ceeb1004f" aria-expanded="false" aria-controls="Collapse-e752d5a69d7ceeb1004f">
                            
                            <span class="ekit-accordion-title">Do I need any prior experience in fashion?</span>

                            
                                <div class="ekit_accordion_icon_group">
                                    <div class="ekit_accordion_normal_icon">
                                        <!-- Normal Icon -->
										<i class="icon icon-plus"></i>                                    </div>

                                    <div class="ekit_accordion_active_icon">
                                        <!-- Active Icon -->
										<i class="icon icon-minus"></i>                                    </div>
                                </div>

                            
                                                    </a>
                    </div>

                    <div id="Collapse-e752d5a69d7ceeb1004f" class=" collapse" aria-labelledby="primaryHeading-2-2243694c" data-parent="#accordion-69d7ceeb1004f">

                        <div class="elementskit-card-body ekit-accordion--content">
                            <p>Not at all! Our courses are beginner-friendly and perfect for anyone with a passion for fashion.</p>                        </div>

                    </div>

                </div><!-- .elementskit-card END -->

                
                <div class="elementskit-card ">
                    <div class="elementskit-card-header" id="primaryHeading-3-2243694c">
                        <a href="/contact#collapse-0440f7b69d7ceeb1004f" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-0440f7b69d7ceeb1004f" aria-expanded="false" aria-controls="Collapse-0440f7b69d7ceeb1004f">
                            
                            <span class="ekit-accordion-title">Can I come for a consultation to your office?</span>

                            
                                <div class="ekit_accordion_icon_group">
                                    <div class="ekit_accordion_normal_icon">
                                        <!-- Normal Icon -->
										<i class="icon icon-plus"></i>                                    </div>

                                    <div class="ekit_accordion_active_icon">
                                        <!-- Active Icon -->
										<i class="icon icon-minus"></i>                                    </div>
                                </div>

                            
                                                    </a>
                    </div>

                    <div id="Collapse-0440f7b69d7ceeb1004f" class=" collapse" aria-labelledby="primaryHeading-3-2243694c" data-parent="#accordion-69d7ceeb1004f">

                        <div class="elementskit-card-body ekit-accordion--content">
                            <p>Yes, we’re available for in-person consultations at our offices in Mumbai and Indore. You're welcome to visit us if you're&nbsp;in&nbsp;either&nbsp;city.</p>                        </div>

                    </div>

                </div><!-- .elementskit-card END -->

                
                <div class="elementskit-card ">
                    <div class="elementskit-card-header" id="primaryHeading-4-2243694c">
                        <a href="/contact#collapse-a67e96f69d7ceeb1004f" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-a67e96f69d7ceeb1004f" aria-expanded="false" aria-controls="Collapse-a67e96f69d7ceeb1004f">
                            
                            <span class="ekit-accordion-title">Will I receive a certificate after completing the course?</span>

                            
                                <div class="ekit_accordion_icon_group">
                                    <div class="ekit_accordion_normal_icon">
                                        <!-- Normal Icon -->
										<i class="icon icon-plus"></i>                                    </div>

                                    <div class="ekit_accordion_active_icon">
                                        <!-- Active Icon -->
										<i class="icon icon-minus"></i>                                    </div>
                                </div>

                            
                                                    </a>
                    </div>

                    <div id="Collapse-a67e96f69d7ceeb1004f" class=" collapse" aria-labelledby="primaryHeading-4-2243694c" data-parent="#accordion-69d7ceeb1004f">

                        <div class="elementskit-card-body ekit-accordion--content">
                            <p>You’ll receive a government recognised certificate through Medhavi Skill University</p>                        </div>

                    </div>

                </div><!-- .elementskit-card END -->

                
                <div class="elementskit-card ">
                    <div class="elementskit-card-header" id="primaryHeading-5-2243694c">
                        <a href="/contact#collapse-1f898d769d7ceeb1004f" class="ekit-accordion--toggler elementskit-btn-link collapsed" data-ekit-toggle="collapse" data-target="#Collapse-1f898d769d7ceeb1004f" aria-expanded="false" aria-controls="Collapse-1f898d769d7ceeb1004f">
                            
                            <span class="ekit-accordion-title">Do you offer career support after the course?</span>

                            
                                <div class="ekit_accordion_icon_group">
                                    <div class="ekit_accordion_normal_icon">
                                        <!-- Normal Icon -->
										<i class="icon icon-plus"></i>                                    </div>

                                    <div class="ekit_accordion_active_icon">
                                        <!-- Active Icon -->
										<i class="icon icon-minus"></i>                                    </div>
                                </div>

                            
                                                    </a>
                    </div>

                    <div id="Collapse-1f898d769d7ceeb1004f" class=" collapse" aria-labelledby="primaryHeading-5-2243694c" data-parent="#accordion-69d7ceeb1004f">

                        <div class="elementskit-card-body ekit-accordion--content">
                            <p>Absolutely! We support you beyond the classroom with personalized career advice, help in building your portfolio, and opportunities to connect with industry partners and clients.</p>                        </div>

                    </div>

                </div><!-- .elementskit-card END -->

                                        </div>
    </div>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>
				<div data-elementor-type="footer" data-elementor-id="158" class="elementor elementor-158 elementor-location-footer" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-3c14298 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3c14298" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[]}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c19cb1a" data-id="c19cb1a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-f18b2c1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f18b2c1" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2880043" data-id="2880043" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-a128e6f elementor-widget elementor-widget-image" data-id="a128e6f" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1024" height="483" src="/images/Untitled-design-21-1.png" class="elementor-animation-float attachment-large size-large wp-image-144" alt="" decoding="async" srcset="/images/Untitled-design-21-1.png 1024w, /images/Untitled-design-21-1.png 300w, /images/Untitled-design-21-1.png 768w, /images/Untitled-design-21-1.png 1080w" sizes="(max-width: 1024px) 100vw, 1024px">															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a085565" data-id="a085565" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-caa29f9 elementor-icon-list--layout-inline elementor-align-right elementor-tablet-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="caa29f9" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items elementor-inline-items">
							<li class="elementor-icon-list-item elementor-inline-item">
											<a href="/">

											<span class="elementor-icon-list-text">Home</span>
											</a>
									</li>
								<li class="elementor-icon-list-item elementor-inline-item">
											<a href="/about">

											<span class="elementor-icon-list-text">About</span>
											</a>
									</li>
								<li class="elementor-icon-list-item elementor-inline-item">
											<a href="/our-course">

											<span class="elementor-icon-list-text">Our Course</span>
											</a>
									</li>
								<li class="elementor-icon-list-item elementor-inline-item">
											<a href="/contact">

											<span class="elementor-icon-list-text">Contact</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-914a49f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="914a49f" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-6d26446" data-id="6d26446" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-c03adc7 elementor-widget elementor-widget-heading" data-id="c03adc7" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">Connect with us</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-5df4afe elementor-shape-circle e-grid-align-left elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="5df4afe" data-element_type="widget" data-widget_type="social-icons.default">
				<div class="elementor-widget-container">
							<div class="elementor-social-icons-wrapper elementor-grid" role="list">
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-51c6d66" target="_blank">
						<span class="elementor-screen-only">Facebook-f</span>
						<svg class="e-font-icon-svg e-fab-facebook-f" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-x-twitter elementor-repeater-item-8f0099f" target="_blank">
						<span class="elementor-screen-only">X-twitter</span>
						<svg class="e-font-icon-svg e-fab-x-twitter" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-1cf83d8" target="_blank">
						<span class="elementor-screen-only">Youtube</span>
						<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-icon-instagram-1 elementor-repeater-item-e3ce502" target="_blank">
						<span class="elementor-screen-only">Icon-instagram-1</span>
						<i class="icon icon-instagram-1"></i>					</a>
				</span>
					</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-b6957c5" data-id="b6957c5" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-4393635 elementor-widget elementor-widget-heading" data-id="4393635" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">Contact</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-b8d7689 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="b8d7689" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="tel:%20+91%2078383%2076315">

											<span class="elementor-icon-list-text">P : +91 78383 76315</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="tel:%20+91%2099930%2050002">

											<span class="elementor-icon-list-text">+91 99930 50002</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-a29e82b elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="a29e82b" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="mailto:%20info@stylemantra.co.in">

											<span class="elementor-icon-list-text">E : info@stylemantra.co.in</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d646879" data-id="d646879" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d43da74 elementor-widget elementor-widget-heading" data-id="d43da74" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h4 class="elementor-heading-title elementor-size-default">Let's Talk About Fashion</h4>				</div>
				</div>
				<div class="elementor-element elementor-element-f05519e elementor-widget elementor-widget-text-editor" data-id="f05519e" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Learn fashion styling through accessible, affordable courses and turn your passion into a thriving career.</p>								</div>
				</div>
				<div class="elementor-element elementor-element-553144e elementor-tablet-align-center elementor-widget elementor-widget-button" data-id="553144e" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm" href="/contact#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjMxOCIsInRvZ2dsZSI6ZmFsc2V9">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Get started</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-3d80637 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3d80637" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[]}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4c833f6" data-id="4c833f6" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-35c15ff elementor-widget elementor-widget-text-editor" data-id="35c15ff" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Copyright @2026 | All Rights Reserved								</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a65f46e" data-id="a65f46e" data-element_type="column">
			<div class="elementor-widget-wrap">
							</div>
		</div>
					</div>
		</section>
				</div>
		
<script type="speculationrules">
{"prefetch":[{"source":"document","where":{"and":[{"href_matches":"/*"},{"not":{"href_matches":["/wp-*.php","/wp-admin/*","/wp-content/uploads/*","/wp-content/*","/wp-content/plugins/*","/wp-content/themes/hello-elementor/*","/*\\?(.+)"]}},{"not":{"selector_matches":"a[rel~=\"nofollow\"]"}},{"not":{"selector_matches":".no-prefetch, .no-prefetch a"}}]},"eagerness":"conservative"}]}
</script>
					<script type="text/x-template" id="mobile-menu-item-template"><li
	:id="'jet-mobile-menu-item-'+itemDataObject.itemId"
	:class="itemClasses"
>
	<div
		class="jet-mobile-menu__item-inner"
		tabindex="0"
		:aria-label="itemDataObject.name"
        aria-expanded="false"
		v-on:click="itemSubHandler"
		v-on:keyup.enter="itemSubHandler"
	>
		<a
			:class="itemLinkClasses"
			:href="itemDataObject.url"
			:rel="itemDataObject.xfn"
			:title="itemDataObject.attrTitle"
			:target="itemDataObject.target"
		>
			<div class="jet-menu-item-wrapper">
				<div
					class="jet-menu-icon"
					v-if="isIconVisible"
					v-html="itemIconHtml"
				></div>
				<div class="jet-menu-name">
					<span
						class="jet-menu-label"
						v-if="isLabelVisible"
						v-html="itemDataObject.name"
					></span>
					<small
						class="jet-menu-desc"
						v-if="isDescVisible"
						v-html="itemDataObject.description"
					></small>
				</div>
				<div
					class="jet-menu-badge"
					v-if="isBadgeVisible"
				>
					<div class="jet-menu-badge__inner" v-html="itemDataObject.badgeContent"></div>
				</div>
			</div>
		</a>
		<span
			class="jet-dropdown-arrow"
			v-if="isSub && !templateLoadStatus"
			v-html="dropdownIconHtml"
			v-on:click="markerSubHandler"
		>
		</span>
		<div
			class="jet-mobile-menu__template-loader"
			v-if="templateLoadStatus"
		>
			<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="24px" height="25px" viewBox="0 0 128 128" xml:space="preserve">
				<g>
					<linearGradient :id="'linear-gradient-'+itemDataObject.itemId">
						<stop offset="0%" :stop-color="loaderColor" stop-opacity="0"/>
						<stop offset="100%" :stop-color="loaderColor" stop-opacity="1"/>
					</linearGradient>
				<path d="M63.85 0A63.85 63.85 0 1 1 0 63.85 63.85 63.85 0 0 1 63.85 0zm.65 19.5a44 44 0 1 1-44 44 44 44 0 0 1 44-44z" :fill="'url(#linear-gradient-'+itemDataObject.itemId+')'" fill-rule="evenodd"/>
				<animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1080ms" repeatCount="indefinite"></animateTransform>
				</g>
			</svg>
		</div>
	</div>

	<transition name="menu-container-expand-animation">
		<mobile-menu-list
			v-if="isDropdownLayout && subDropdownVisible"
			:depth="depth+1"
			:children-object="itemDataObject.children"
		></mobile-menu-list>
	</transition>

</li>
					</script>					<script type="text/x-template" id="mobile-menu-list-template"><div
	class="jet-mobile-menu__list"
	role="navigation"
>
	<ul class="jet-mobile-menu__items">
		<mobile-menu-item
			v-for="(item, index) in childrenObject"
			:key="item.id"
			:item-data-object="item"
			:depth="depth"
		></mobile-menu-item>
	</ul>
</div>
					</script>					<script type="text/x-template" id="mobile-menu-template"><div
	:class="instanceClass"
	v-on:keyup.esc="escapeKeyHandler"
>
	<div
		class="jet-mobile-menu__toggle"
		role="button"
		ref="toggle"
		tabindex="0"
		aria-label="Open/Close Menu"
        aria-expanded="false"
		v-on:click="menuToggle"
		v-on:keyup.enter="menuToggle"
	>
		<div
			class="jet-mobile-menu__template-loader"
			v-if="toggleLoaderVisible"
		>
			<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="24px" height="25px" viewBox="0 0 128 128" xml:space="preserve">
				<g>
					<linearGradient :id="'linear-gradient-'+itemDataObject.itemId">
						<stop offset="0%" :stop-color="loaderColor" stop-opacity="0"/>
						<stop offset="100%" :stop-color="loaderColor" stop-opacity="1"/>
					</linearGradient>
				<path d="M63.85 0A63.85 63.85 0 1 1 0 63.85 63.85 63.85 0 0 1 63.85 0zm.65 19.5a44 44 0 1 1-44 44 44 44 0 0 1 44-44z" :fill="'url(#linear-gradient-'+itemDataObject.itemId+')'" fill-rule="evenodd"/>
				<animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1080ms" repeatCount="indefinite"></animateTransform>
				</g>
			</svg>
		</div>

		<div
			class="jet-mobile-menu__toggle-icon"
			v-if="!menuOpen && !toggleLoaderVisible"
			v-html="toggleClosedIcon"
		></div>
		<div
			class="jet-mobile-menu__toggle-icon"
			v-if="menuOpen && !toggleLoaderVisible"
			v-html="toggleOpenedIcon"
		></div>
		<span
			class="jet-mobile-menu__toggle-text"
			v-if="toggleText"
			v-html="toggleText"
		></span>

	</div>

	<transition name="cover-animation">
		<div
			class="jet-mobile-menu-cover"
			v-if="menuContainerVisible && coverVisible"
			v-on:click="closeMenu"
		></div>
	</transition>

	<transition :name="showAnimation">
		<div
			class="jet-mobile-menu__container"
			v-if="menuContainerVisible"
		>
			<div
				class="jet-mobile-menu__container-inner"
			>
				<div
					class="jet-mobile-menu__header-template"
					v-if="headerTemplateVisible"
				>
					<div
						class="jet-mobile-menu__header-template-content"
						ref="header-template-content"
						v-html="headerContent"
					></div>
				</div>

				<div
					class="jet-mobile-menu__controls"
				>
					<div
						class="jet-mobile-menu__breadcrumbs"
						v-if="isBreadcrumbs"
					>
						<div
							class="jet-mobile-menu__breadcrumb"
							v-for="(item, index) in breadcrumbsPathData"
							:key="index"
						>
							<div
								class="breadcrumb-label"
								v-on:click="breadcrumbHandle(index+1)"
								v-html="item"
							></div>
							<div
								class="breadcrumb-divider"
								v-html="breadcrumbIcon"
								v-if="(breadcrumbIcon && index !== breadcrumbsPathData.length-1)"
							></div>
						</div>
					</div>
					<div
						class="jet-mobile-menu__back"
						role="button"
						ref="back"
						tabindex="0"
						aria-label="Close Menu"
                        aria-expanded="false"
						v-if="!isBack && isClose"
						v-html="closeIcon"
						v-on:click="menuToggle"
						v-on:keyup.enter="menuToggle"
					></div>
					<div
						class="jet-mobile-menu__back"
						role="button"
						ref="back"
						tabindex="0"
						aria-label="Back to Prev Items"
                        aria-expanded="false"
						v-if="isBack"
						v-html="backIcon"
						v-on:click="goBack"
						v-on:keyup.enter="goBack"
					></div>
				</div>

				<div
					class="jet-mobile-menu__before-template"
					v-if="beforeTemplateVisible"
				>
					<div
						class="jet-mobile-menu__before-template-content"
						ref="before-template-content"
						v-html="beforeContent"
					></div>
				</div>

				<div
					class="jet-mobile-menu__body"
				>
					<transition :name="animation">
						<mobile-menu-list
							v-if="!templateVisible"
							:key="depth"
							:depth="depth"
							:children-object="itemsList"
						></mobile-menu-list>
						<div
							class="jet-mobile-menu__template"
							ref="template-content"
							v-if="templateVisible"
						>
							<div
								class="jet-mobile-menu__template-content"
								v-html="itemTemplateContent"
							></div>
						</div>
					</transition>
				</div>

				<div
					class="jet-mobile-menu__after-template"
					v-if="afterTemplateVisible"
				>
					<div
						class="jet-mobile-menu__after-template-content"
						ref="after-template-content"
						v-html="afterContent"
					></div>
				</div>

			</div>
		</div>
	</transition>
</div>
					</script>		
				
					<script>
				const lazyloadRunObserver = () => {
					const lazyloadBackgrounds = document.querySelectorAll( `.e-con.e-parent:not(.e-lazyloaded)` );
					const lazyloadBackgroundObserver = new IntersectionObserver( ( entries ) => {
						entries.forEach( ( entry ) => {
							if ( entry.isIntersecting ) {
								let lazyloadBackground = entry.target;
								if( lazyloadBackground ) {
									lazyloadBackground.classList.add( 'e-lazyloaded' );
								}
								lazyloadBackgroundObserver.unobserve( entry.target );
							}
						});
					}, { rootMargin: '200px 0px 200px 0px' } );
					lazyloadBackgrounds.forEach( ( lazyloadBackground ) => {
						lazyloadBackgroundObserver.observe( lazyloadBackground );
					} );
				};
				const events = [
					'DOMContentLoaded',
					'elementor/lazyload/observe',
				];
				events.forEach( ( event ) => {
					document.addEventListener( event, lazyloadRunObserver );
				} );
			</script>
					<style>
			.unlimited-elements-background-overlay{
				position:absolute;
				top:0px;
				left:0px;
				width:100%;
				height:100%;
				z-index:0;
			}

			.unlimited-elements-background-overlay.uc-bg-front{
				z-index:999;
			}
		</style>

		<script type="text/javascript">

			jQuery(document).ready(function(){

				function ucBackgroundOverlayPutStart(){

					var objBG = jQuery(".unlimited-elements-background-overlay").not(".uc-bg-attached");

					if(objBG.length == 0)
						return(false);

					objBG.each(function(index, bgElement){

						var objBgElement = jQuery(bgElement);

						var targetID = objBgElement.data("forid");

						var location = objBgElement.data("location");

						switch(location){
							case "body":
							case "body_front":
								var objTarget = jQuery("body");
							break;
							case "layout":
							case "layout_front":
								var objLayout = jQuery("*[data-id=\""+targetID+"\"]");
								var objTarget = objLayout.parents(".elementor");
								if(objTarget.length > 1)
									objTarget = jQuery(objTarget[0]);
							break;
							default:
								var objTarget = jQuery("*[data-id=\""+targetID+"\"]");
							break;
						}


						if(objTarget.length == 0)
							return(true);

						var objVideoContainer = objTarget.children(".elementor-background-video-container");

						if(objVideoContainer.length == 1)
							objBgElement.detach().insertAfter(objVideoContainer).show();
						else
							objBgElement.detach().prependTo(objTarget).show();


						var objTemplate = objBgElement.children("template");

						if(objTemplate.length){
							
					        var clonedContent = objTemplate[0].content.cloneNode(true);

					    	var objScripts = jQuery(clonedContent).find("script");
					    	if(objScripts.length)
					    		objScripts.attr("type","text/javascript");
					        
					        objBgElement.append(clonedContent);
							
							objTemplate.remove();
						}

						objBgElement.trigger("bg_attached");
						objBgElement.addClass("uc-bg-attached");

					});
				}

				ucBackgroundOverlayPutStart();

				jQuery( document ).on( 'elementor/popup/show', ucBackgroundOverlayPutStart);
				jQuery( "body" ).on( 'uc_dom_updated', ucBackgroundOverlayPutStart);

			});


		</script>
		<script type="text/javascript" src="/js/webpack.runtime.min.js" id="elementor-webpack-runtime-js" is:inline></script>
<script type="text/javascript" src="/js/frontend-modules.min.js" id="elementor-frontend-modules-js" is:inline></script>
<script type="text/javascript" src="/js/core.min.js" id="jquery-ui-core-js" is:inline></script>
<script type="text/javascript" id="elementor-frontend-js-before">
/* <![CDATA[ */
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close","a11yCarouselPrevSlideMessage":"Previous slide","a11yCarouselNextSlideMessage":"Next slide","a11yCarouselFirstSlideMessage":"This is the first slide","a11yCarouselLastSlideMessage":"This is the last slide","a11yCarouselPaginationBulletMessage":"Go to slide"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"responsive":{"breakpoints":{"mobile":{"label":"Mobile Portrait","value":767,"default_value":767,"direction":"max","is_enabled":true},"mobile_extra":{"label":"Mobile Landscape","value":880,"default_value":880,"direction":"max","is_enabled":false},"tablet":{"label":"Tablet Portrait","value":1024,"default_value":1024,"direction":"max","is_enabled":true},"tablet_extra":{"label":"Tablet Landscape","value":1200,"default_value":1200,"direction":"max","is_enabled":false},"laptop":{"label":"Laptop","value":1366,"default_value":1366,"direction":"max","is_enabled":false},"widescreen":{"label":"Widescreen","value":2400,"default_value":2400,"direction":"min","is_enabled":false}},"hasCustomBreakpoints":false},"version":"3.29.0","is_static":false,"experimentalFeatures":{"e_font_icon_svg":true,"additional_custom_breakpoints":true,"container":true,"e_local_google_fonts":true,"theme_builder_v2":true,"nested-elements":true,"e_element_cache":true,"home_screen":true,"launchpad-checklist":true,"cloud-library":true,"e_opt_in_v4_page":true},"urls":{"assets":"\\/js\\/","ajaxurl":"","uploadUrl":""},"nonces":{"floatingButtonsClickTracking":"7d2ea92378"},"swiperClass":"swiper","settings":{"page":[],"editorPreferences":[]},"kit":{"active_breakpoints":["viewport_mobile","viewport_tablet"],"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":342,"title":"Contact%20%E2%80%93%20Style%20Mantra","excerpt":"","featuredImage":false}};
//# sourceURL=elementor-frontend-js-before
/* ]]> */
</script>
<script type="text/javascript" src="/js/frontend.min.js" id="elementor-frontend-js" is:inline></script><span id="elementor-device-mode" class="elementor-screen-only" is:inline></span>
<script type="text/javascript" id="elementor-frontend-js-after">
/* <![CDATA[ */
var jkit_ajax_url = "/?jkit-ajax-request=jkit_elements", jkit_nonce = "d75d44f123";
//# sourceURL=elementor-frontend-js-after
/* ]]> */
</script>
<script type="text/javascript" src="/js/cute-alert.js" id="cute-alert-js" is:inline></script>
<script type="text/javascript" src="/js/hooks.min.js" id="wp-hooks-js" is:inline></script>
<script type="text/javascript" src="/js/vue.min.js" id="jet-vue-js" is:inline></script>
<script type="text/javascript" id="jet-menu-public-scripts-js-extra">
/* <![CDATA[ */
var jetMenuPublicSettings = {"version":"2.4.11","ajaxUrl":"","isMobile":"false","getElementorTemplateApiUrl":"/wp-json/jet-menu-api/v2/get-elementor-template-content","getBlocksTemplateApiUrl":"/wp-json/jet-menu-api/v2/get-blocks-template-content","menuItemsApiUrl":"/wp-json/jet-menu-api/v2/get-menu-items","restNonce":"6fbbce01e0","devMode":"false","wpmlLanguageCode":"","menuSettings":{"jetMenuRollUp":"true","jetMenuMouseleaveDelay":500,"jetMenuMegaWidthType":"container","jetMenuMegaWidthSelector":"","jetMenuMegaOpenSubType":"hover","jetMenuMegaAjax":"false"}};
//# sourceURL=jet-menu-public-scripts-js-extra
/* ]]> */
</script>
<script type="text/javascript" src="/js/jet-menu-public-scripts.js" id="jet-menu-public-scripts-js" is:inline></script>
<script type="text/javascript" id="jet-menu-public-scripts-js-after">
/* <![CDATA[ */
function CxCSSCollector(){"use strict";var t,e=window.CxCollectedCSS;void 0!==e&&((t=document.createElement("style")).setAttribute("title",e.title),t.setAttribute("type",e.type),t.textContent=e.css,document.head.appendChild(t))}CxCSSCollector();
//# sourceURL=jet-menu-public-scripts-js-after
/* ]]> */
</script>
<script type="text/javascript" src="/js/jquery.sticky.min.js" id="e-sticky-js" is:inline></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js" id="easing-js" is:inline></script>
<script type="text/javascript" src="/js/jquery.superslides.js" id="superslides-js" is:inline></script>
<script type="text/javascript" src="/js/frontend-script.js" id="elementskit-framework-js-frontend-js" is:inline></script>
<script type="text/javascript" id="elementskit-framework-js-frontend-js-after">
/* <![CDATA[ */
		var elementskit = {
			resturl: '/wp-json/elementskit/v1/',
		}

		
//# sourceURL=elementskit-framework-js-frontend-js-after
/* ]]> */
</script>
<script type="text/javascript" src="/js/widget-scripts.js" id="ekit-widget-scripts-js" is:inline></script>
<script type="text/javascript" src="/js/sticky-element.js" id="jkit-sticky-element-js" is:inline></script>
<script type="text/javascript" src="/js/tweenjs.min.js" id="jet-tween-js-js" is:inline></script>
<script type="text/javascript" src="/js/webpack-pro.runtime.min.js" id="elementor-pro-webpack-runtime-js" is:inline></script>
<script type="text/javascript" src="/js/i18n.min.js" id="wp-i18n-js" is:inline></script>
<script type="text/javascript" id="wp-i18n-js-after">
/* <![CDATA[ */
wp.i18n.setLocaleData( { 'text direction\u0004ltr': [ 'ltr' ] } );
//# sourceURL=wp-i18n-js-after
/* ]]> */
</script>
<script type="text/javascript" id="elementor-pro-frontend-js-before">
/* <![CDATA[ */
var ElementorProFrontendConfig = {"ajaxurl":"","nonce":"61012cea43","urls":{"assets":"\\/js\\/","rest":"\\/wp-json\/"},"settings":{"lazy_load_background_images":true},"popup":{"hasPopUps":true},"shareButtonsNetworks":{"facebook":{"title":"Facebook","has_counter":true},"twitter":{"title":"Twitter"},"linkedin":{"title":"LinkedIn","has_counter":true},"pinterest":{"title":"Pinterest","has_counter":true},"reddit":{"title":"Reddit","has_counter":true},"vk":{"title":"VK","has_counter":true},"odnoklassniki":{"title":"OK","has_counter":true},"tumblr":{"title":"Tumblr"},"digg":{"title":"Digg"},"skype":{"title":"Skype"},"stumbleupon":{"title":"StumbleUpon","has_counter":true},"mix":{"title":"Mix"},"telegram":{"title":"Telegram"},"pocket":{"title":"Pocket","has_counter":true},"xing":{"title":"XING","has_counter":true},"whatsapp":{"title":"WhatsApp"},"email":{"title":"Email"},"print":{"title":"Print"},"x-twitter":{"title":"X"},"threads":{"title":"Threads"}},"facebook_sdk":{"lang":"en_US","app_id":""},"lottie":{"defaultAnimationUrl":"\/elementor-pro\/modules\/lottie\/assets\/animations\/default.json"}};
//# sourceURL=elementor-pro-frontend-js-before
/* ]]> */
</script>
<script type="text/javascript" src="/js/frontend.min.js" id="elementor-pro-frontend-js" is:inline></script>
<script type="text/javascript" src="/js/elements-handlers.min.js" id="pro-elements-handlers-js" is:inline></script><svg style="display: none;" class="e-font-icon-svg-symbols" is:inline><symbol id="eicon-close" viewBox="0 0 1000 1000"><path d="M742 167L500 408 258 167C246 154 233 150 217 150 196 150 179 158 167 167 154 179 150 196 150 212 150 229 154 242 171 254L408 500 167 742C138 771 138 800 167 829 196 858 225 858 254 829L496 587 738 829C750 842 767 846 783 846 800 846 817 842 829 829 842 817 846 804 846 783 846 767 842 750 829 737L588 500 833 258C863 229 863 200 833 171 804 137 775 137 742 167Z"></path></symbol></svg>
<script type="text/javascript" id="jet-elements-js-extra">
/* <![CDATA[ */
var jetElements = {"ajaxUrl":"","isMobile":"false","templateApiUrl":"/wp-json/jet-elements-api/v1/elementor-template","devMode":"false","messages":{"invalidMail":"Please specify a valid e-mail"}};
//# sourceURL=jet-elements-js-extra
/* ]]> */
</script>
<script type="text/javascript" src="/js/jet-elements.min.js" id="jet-elements-js" is:inline></script>
<script type="text/javascript" src="/js/widgets-scripts.js" id="jet-menu-elementor-widgets-scripts-js" is:inline></script>
<script type="text/javascript" src="/js/animate-circle.min.js" id="animate-circle-js" is:inline></script>
<script type="text/javascript" id="elementskit-elementor-js-extra">
/* <![CDATA[ */
var ekit_config = {"ajaxurl":"","nonce":"67d6dc11e0"};
//# sourceURL=elementskit-elementor-js-extra
/* ]]> */
</script>
<script type="text/javascript" src="/js/elementor.js" id="elementskit-elementor-js" is:inline></script>
<script id="wp-emoji-settings" type="application/json">
{"baseUrl":"https://s.w.org/images/core/emoji/17.0.2/72x72/","ext":".png","svgUrl":"https://s.w.org/images/core/emoji/17.0.2/svg/","svgExt":".svg","source":{"concatemoji":"/js/wp-emoji-release.min.js"}}
</script>
<script type="module">
/* <![CDATA[ */
/*! This file is auto-generated */
const a=JSON.parse(document.getElementById("wp-emoji-settings").textContent),o=(window._wpemojiSettings=a,"wpEmojiSettingsSupports"),s=["flag","emoji"];function i(e){try{var t={supportTests:e,timestamp:(new Date).valueOf()};sessionStorage.setItem(o,JSON.stringify(t))}catch(e){}}function c(e,t,n){e.clearRect(0,0,e.canvas.width,e.canvas.height),e.fillText(t,0,0);t=new Uint32Array(e.getImageData(0,0,e.canvas.width,e.canvas.height).data);e.clearRect(0,0,e.canvas.width,e.canvas.height),e.fillText(n,0,0);const a=new Uint32Array(e.getImageData(0,0,e.canvas.width,e.canvas.height).data);return t.every((e,t)=>e===a[t])}function p(e,t){e.clearRect(0,0,e.canvas.width,e.canvas.height),e.fillText(t,0,0);var n=e.getImageData(16,16,1,1);for(let e=0;e<n.data.length;e++)if(0!==n.data[e])return!1;return!0}function u(e,t,n,a){switch(t){case"flag":return n(e,"\ud83c\udff3\ufe0f\u200d\u26a7\ufe0f","\ud83c\udff3\ufe0f\u200b\u26a7\ufe0f")?!1:!n(e,"\ud83c\udde8\ud83c\uddf6","\ud83c\udde8\u200b\ud83c\uddf6")&&!n(e,"\ud83c\udff4\udb40\udc67\udb40\udc62\udb40\udc65\udb40\udc6e\udb40\udc67\udb40\udc7f","\ud83c\udff4\u200b\udb40\udc67\u200b\udb40\udc62\u200b\udb40\udc65\u200b\udb40\udc6e\u200b\udb40\udc67\u200b\udb40\udc7f");case"emoji":return!a(e,"\ud83e\u1fac8")}return!1}function f(e,t,n,a){let r;const o=(r="undefined"!=typeof WorkerGlobalScope&&self instanceof WorkerGlobalScope?new OffscreenCanvas(300,150):document.createElement("canvas")).getContext("2d",{willReadFrequently:!0}),s=(o.textBaseline="top",o.font="600 32px Arial",{});return e.forEach(e=>{s[e]=t(o,e,n,a)}),s}function r(e){var t=document.createElement("script");t.src=e,t.defer=!0,document.head.appendChild(t)}a.supports={everything:!0,everythingExceptFlag:!0},new Promise(t=>{let n=function(){try{var e=JSON.parse(sessionStorage.getItem(o));if("object"==typeof e&&"number"==typeof e.timestamp&&(new Date).valueOf()<e.timestamp+604800&&"object"==typeof e.supportTests)return e.supportTests}catch(e){}return null}();if(!n){if("undefined"!=typeof Worker&&"undefined"!=typeof OffscreenCanvas&&"undefined"!=typeof URL&&URL.createObjectURL&&"undefined"!=typeof Blob)try{var e="postMessage("+f.toString()+"("+[JSON.stringify(s),u.toString(),c.toString(),p.toString()].join(",")+"));",a=new Blob([e],{type:"text/javascript"});const r=new Worker(URL.createObjectURL(a),{name:"wpTestEmojiSupports"});return void(r.onmessage=e=>{i(n=e.data),r.terminate(),t(n)})}catch(e){}i(n=f(s,u,c,p))}t(n)}).then(e=>{for(const n in e)a.supports[n]=e[n],a.supports.everything=a.supports.everything&&a.supports[n],"flag"!==n&&(a.supports.everythingExceptFlag=a.supports.everythingExceptFlag&&a.supports[n]);var t;a.supports.everythingExceptFlag=a.supports.everythingExceptFlag&&!a.supports.flag,a.supports.everything||((t=a.source||{}).concatemoji?r(t.concatemoji):t.wpemoji&&t.twemoji&&(r(t.twemoji),r(t.wpemoji)))});
//# sourceURL=/js/wp-emoji-loader.min.js
/* ]]> */
</script>




</body>
</html>
